html, body {width: auto!important; overflow-x: hidden!important} 

body {
  background-image: url("wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow-wrap: break-word;
  font-family: Arial, sans-serif;
  background-color: #4A3321;
}

h1 {
  text-align: center;
  font-family: MedievalSharp;
  margin-top: 20px;
  font-size: 50px;
  color: peachpuff;
  text-shadow: 3px 3px 2px black;
}

.dropdown {
  float: right;
  position: relative;
}

button {
  border:none;
  border-radius:5px;
  padding:15px 30px;
  font-size:18px;
  cursor:pointer;
  background-color: brown;
  color: gainsboro;
}

button:hover{
  background-color: darkred;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}

#container {
  width: 90%;
  background-image: url("paperbrown.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #D8B484;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#result1 {
  font-size: large;
  color: #f00;
  font-size: x-large;
}

#result2 {
  font-size: large;
  color: #f00;
  font-size: x-large;
}

.text {
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  color: #000;
}

#input {
  width: 100%;
  height: 70px;
  font-size: 30px;
  border: 1px solid #ccc;
}

#number {
  width: 100%;
  height: 70px;
  font-size: 30px;
  border: 1px solid #ccc;
}

#button1 {
  font-weight: bolder;
  background-color:brown;
  box-shadow:0 0 15px #000;
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: gainsboro;
}

#button2 {
  font-weight: bolder;
  background-color:brown;
  box-shadow:0 0 15px #000;
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: gainsboro;
}

#button3 {
  font-weight:bolder;
  background-color:brown;
  box-shadow:0 0 15px #000;
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: gainsboro;
}

#box {
  width: 100%;
  height: 70px;
  font-size: 30px;
  border: 1px solid #ccc;
}

#result {
  margin-top: 10px;
  font-size: 18px;
  color: #00f;
}

#para {
  background-image: url("paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-wrap: break-word;
  color: midnightblue;
  font-size: x-large;
  background-color: #E4E3DF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-device-width: 480px) {
  #container {
    width: 90%;
    align-self: center;
  }

  #para {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    color: midnightblue;
    font-size: x-large;
  }

  h1 {
    font-size: 35px;
    padding-top: 15px;
    text-align: center;
  }

  #text {
    font-size: 25px;
    color: #000;
  }

  #number,
  #input,
  #box {
    font-size: xx-large;
  }

  body {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    overflow-wrap: break-word;
    font-family: Arial, sans-serif;
  }
}
